.resources__logo {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s linear 0.2s;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.resources__logo:hover {
    opacity: 0.6;
}
